---
import Layout from "../layouts/Layout.astro";
export async function getStaticPaths() {
    const req = await fetch("https://rickandmortyapi.com/api/character");
    const allCharactersRaw = await req.json();
    const characters = allCharactersRaw.results;
    return characters.map((character) => ({
        params: {
            slug: character.id,
        },
        props: {
            character,
        },
    }));
}
const { character } = Astro.props;
const req = await fetch("https://official-joke-api.appspot.com/random_joke");
const joke = await req.json();
---

<Layout>
    <section class="main">
        <article>
            <h3>{character.name}</h3>
            <img src={character.image} alt="character image" />
        </article>
        <article class="bio">
            <h3>Trails</h3>
            <ul>
                <li>Species: {character.species}</li>
                <li>Status: {character.status}</li>
                <li>Gender: {character.gender}</li>
                <li>Origin: {character.origin.name}</li>
                <li>Location: {character.location.name}</li>
            </ul>
            <div>
                <p>Question: {joke.setup}</p>
                <p id="joke">Answer: {joke.punchline}</p>
                <button id="jokeBtn">Reveal</button>
            </div>
        </article>
    </section>
</Layout>

<style>
    body {
        background-color: var(--color-bg-primary);
    }
    .main {
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 134px);
        position: relative;
    }
    .main::before {
        content: url('../components/images/bg.png');
        position: absolute;
        display: block;
        z-index: -2;
        bottom: 0px;
        right: -15%;
    }
    article {
        flex: 1 1 auto;
        color: #fff;
        text-shadow: 0 0 5px #333;
    }
    .main article:first-child h3 {
            padding-bottom: 5px;
    }
    img {
        border: 1px solid #333;
    }
    .bio {
        padding: 30px 30px;
        height: 350px;
        width: 300px;
    }
    #joke {
        display: none;
    }
    #joke.visible {
        display: block;
    }
    #jokeBtn {
        padding: 8px 12px;
        background-color:blanchedalmond;
        border: 1px solid #333;
        box-shadow: 0 0 5px 0 #333;
        cursor: pointer;
        font-size: large;
    }
    #jokeBtn:active {
        box-shadow: none;

    }

    @media (width < 768px){
        .main {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
        .main article{
            flex: 0 1 auto;
        }
        .main article:first-child {
            padding-top: 10px;
            height: auto;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .main article:first-child img {
            max-width: 60%;
        }
        .main .bio {
            padding: 10px;
            height: 400px;
        }
    }
</style>

<script>
    const joke = document.querySelector("#joke");
    const toggleJoke = () => {
        joke.classList.toggle("visible");
    };
    const btn = document.querySelector("#jokeBtn");
    btn.addEventListener("click", () => toggleJoke());
</script>
